.chatContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.messageList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ownMessage,
.otherMessage {
  max-width: 75%;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 7px;
  word-wrap: break-word;
  clear: both;
}

.ownMessage {
  float: right;
  background-color: #DCF8C6;
}

.otherMessage {
  float: left;
  background-color: #ECE5DD;
}